<html>
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href=""><i class="bx primary-color bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx primary-color bx-user"></i> <span>About</span></a></li>
        <li><a routerLink="/linux-commands"><i class="bx primary-color bx-file-blank"></i> <span>Linux-commands</span></a></li>
        <li><a routerLink="/postgres"><i class="bx primary-color bx-book-content"></i> <span>Postgres</span></a></li>
        <li><a routerLink="/notebooks"><i class="bx primary-color bx-server"></i> <span>NoteBooks</span></a></li>
        <li><a href="#contact"><i class="bx primary-color bx-envelope"></i> <span>Contact</span></a></li>
        <li><a data-toggle="modal" data-target="#exampleModalCenter"><i class="fa primary-color fa-adjust" aria-hidden="true"></i> <span>Theme Manage</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

</body>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Theme Manager</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <span>Primary Color:</span>
            <input style="border-radius: 15px; width: 5rem; cursor: pointer;" [(colorPicker)]="color" [value]="color" [style.background]="color"/>
          </div>
          <div style="margin-top: 15px;">
            <span>Background Color:</span>
            <input style="border-radius: 15px; width: 5rem; cursor: pointer;" [(colorPicker)]="bgColor" [value]="bgColor" [style.background]="bgColor"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="saveChanges()" data-dismiss="modal" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

</html>