<!-- <div class="container">
  <nav class="navbar fixed-top navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <img src="../../assets/mynotebooqlogo.png" width="40px" alt="">&nbsp;
      <a class="navbar-brand" href="#">MYNOTEBOOQ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">MyNotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->
<html>
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a routerLink="/linux-commands"><i class="bx bx-file-blank"></i> <span>Linux-commands</span></a></li>
        <li><a routerLink="/postgres"><i class="bx bx-book-content"></i> <span>Postgres</span></a></li>
        <li><a disabled href="#services"><i class="bx bx-server"></i> <span>Tutorials</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

</body>
</html>