<div class="container mt-4">
    <div class="card pt-4 pr-4 pl-4 mb-5" [style.background-color]="getCardColor()">
        <h3 class="card-text" [style.color]="textColor">Spring Boot</h3>
        <div class="footer">
            <div style="float: right;">
                <i class="fa fa-dot-circle-o mr-5" [style.color]="textColor" aria-hidden="true"></i>
                <i class="fa fa-dot-circle-o mr-5" [style.color]="textColor" aria-hidden="true"></i>
                <i style="float: right; cursor: pointer;" [style.color]="textColor"
                 (click)="getCardColor()" class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>