<div class="container mt-4">
    <div class="card card-custom pt-4 pr-4 pl-4 mb-5">
        <h3 class="card-text">{{title}}</h3>
        <hr>
        <div class="card-body custom-card-body">
            <ul>
                <li *ngFor="let c of data">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="cmd-key">{{c.value}}</div>
                        </div>
                        <!-- <div class="col-md-7"> -->
                            <!-- <div class="value" id="cmd-value" (click)="opencmd(c.cmd)">{{c.cmd}}</div> -->
                        <!-- </div> -->
                        <div id="terminal-icon" class="col-md-1">
                            <div class="value"><i class='bx bx-message-detail'></i></div>
                        </div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
        <div class="custom-card-footer" (click)="paginateData()">
            <div style="float: right;">
                <i class="fa fa-dot-circle-o mr-5" aria-hidden="true"></i>
                <i class="fa fa-dot-circle-o mr-5" aria-hidden="true"></i>
                <i style="float: right;" class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>