<section>
    <div class="container mt-5">
        <header>
            <h1 class="custom-text-c">NOTEBOOKS</h1>
        </header>
        <hr>
    </div>
</section>
<body style="overflow: hidden;">
    <section>
        <div class="container pt-4">
            <div class="row mt-5 mb-5">
                <div class="col-md-4">
                    <div class="card p-4 mb-3" routerLink="/spring-boot">
                        <h3 class="card-text">SPRING-BOOT</h3>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="card p-4 mb-3" routerLink="/angular">
                            <h3 class="card-text">ANGULAR</h3>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card p-4 mb-3" routerLink="/postgres">
                            <h3 class="card-text">POSTGRES</h3>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4">
                    <div class="card p-4 mb-3" routerLink="/linux-commands">
                        <h3 class="card-text">LINUX-COMMANDS</h3>
                    </div>
                </div>
                    <div class="col-md-4">
                        <div class="card p-4 mb-3" routerLink="/java-core">
                            <h3 class="card-text">JAVA-CORE</h3>
                    </div>
                </div>
                    <div class="col-md-4">
                        <div class="card p-4 mb-3" routerLink="/data-structure">
                            <h3 class="card-text">DATA-STRUCTURE</h3>
                        </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4">
                    <div class="card p-4 bg-light mb-3">
                        <h3 class="card-text">PYTHON</h3>
                    </div>
                </div>
            </div>
            <div class="container dot pb-5">
                <i class="fa fa-dot-circle-o mr-5" aria-hidden="true"></i>
                <i class="fa fa-dot-circle-o mr-5" aria-hidden="true"></i>
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </div>
        </div>
    </section>
</body>