.card {
    width: 270px;
    height: 150px;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 0 auto;
    float: none;
    cursor: pointer;
    border-color: #0563bb;
}

i {
    color: #0563bb;
}

.custom-text-c {
    color: #0563bb;
}