/* You can add global styles to this file, and also import other style files */
/* MAIN DATA CARD */
.card-custom {
    min-height: 650px;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #0563bb;
}
.custom-card-footer {
    position: sticky;
    top: 88%;
}
i {
    color: #0563bb;
    cursor: pointer;
}
hr {
    border-color: #0563bb;
}
/* MAIN DATA CARD END */


/* TERMINAL CSS */

.terminal-card {
    height: 400px;
    width: 600px;
    top: 20%;
    left: 25%;
    position: fixed;
    border: black;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
    border-radius: 10px;
}
.custom-card-header {
    background-color: gray;
    border-radius: 10px 10px 0px 0px;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
}
.card-body-custom {
    border-radius: 0px 0px 10px 10px;
    background-color: black;
}
.header-text {
    text-align: center;
    font-size: small;
}
.typing {
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.45em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .terminal-card {
        height: 300px;
        width: 75%;
        top: 20%;
        left: 13%;
        position: fixed;
        border: black;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
        border-radius: 10px;
    }
  }

  /* TERMINAL CSS END */