<html>
  <body>
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container cont" data-aos="zoom-in" data-aos-delay="100">
        <h1>MYNOTEBOOQ</h1>
        <ngx-typed-js
          [strings]="['JAVA', 'ANGULAR', 'POSTGRES', 'LINUX_COMMAND']"
          backDelay="500"
          smartBackspace="true"
          typeSpeed="10"
          loop="true"
        >
          <h1 class="typing primary-color"></h1>
        </ngx-typed-js>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx primary-color bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx primary-color bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx primary-color bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx primary-color bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx primary-color bxl-linkedin"></i></a>
        </div>
      </div>
    </section>
    <!-- End Hero -->
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  </body>
</html>
